@import ./theme.sass
nav
    height: 50px
    justify-content: space-between
    margin: 20px auto
    max-width: 800px
    border: 10px solid #fff
    // > .box
    //     overflow: scroll
    #logo
        width: 60px
        height: 60px
    a
        padding: 20px
        font-size: 25px
h1
    color: $colorUIX
    font-size: 3rem

.home > p
    margin: 20px
